.headers {
    background-color: var(--6);
}

.headers .header-top {
    display: flex;
    padding-top: 22px;
    margin-bottom: 18px;
    align-items: center;
}

.headers .header-top .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
}

.headers .header-top .logo img {
    width: 251px;
    height: 36px;
}

.headers .header-top .logo span {
    font-weight: 600;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: 0.08em;
    color: var(--1);
}

.headers .header-top .contact {
    margin-right: 10px;
    gap: 4px;
    margin-left: 34px;
    margin-bottom: 4px;
    align-self: anchor-center;
}

.headers .header-top .contact span {
    white-space: nowrap;
    display: inline-block;
}

.headers .header-top .contact a {
    text-decoration: none;
}

.headers .header-top .contact a img {
    width: 26px;
    height: 26px;
}

.headers .header-top .contact span {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--1);
    margin-right: 40px;
    margin-bottom: 4px;
}

.headers .header-top .work-time {
    display: flex;
    margin-right: 25px;
}

.headers .header-top .work-time div:first-of-type {
    margin-right: 27px;
}

.headers .header-top .work-time .number {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    color: var(--1);
    text-decoration: none;
    margin-bottom: 7px;
    padding-top: 10px;
    white-space: nowrap;
}

.headers .header-top .work-time .work-to {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--1);
    text-align: center;
}

.headers .header-top .work-time .ordercall-btn {
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: var(--3);
    width: 160px;
    height: 46px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(203, 135, 52, 0.2);
    background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
}

.headers .header-top .work-time .call-free {
    font-weight: 400;
    font-size: 11px;
    line-height: 164%;
    letter-spacing: 0.08em;
    color: var(--1);
    text-align: center;
    margin-top: 7px;
}

.headers .header-top .switch-language {
    align-self: self-start;
}

.headers .header-top .switch-language img {
    vertical-align: -14px;
}

.headers .header-bottom {
    padding-bottom: 37px;
}

.headers .header-bottom .menu .color {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.headers .header-bottom .menu .color .brown:first-of-type {
    border-radius: 8px 0 0 8px;
}

.headers .header-bottom .menu .color .brown:nth-of-type(2) {
    border-radius: 0;
}

.headers .header-bottom .menu .color .brown:nth-of-type(3) {
    border-radius: 0 8px 8px 0;
}


.headers .header-bottom .menu .color .brown {
    border-radius: 8px;
    height: 72px;
    box-shadow: 0 0 20px 0 rgba(43, 42, 40, 0.2);
    background: var(--7);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headers .header-bottom .menu .color .brown a {
    font-weight: 700;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: 0.08em;
    color: var(--3);
}

.headers .header-bottom .menu .color .white {
    height: 72px;
    background: var(--6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: end;
}

.headers .header-bottom .menu .color .white a {
    font-weight: 700;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: 0.08em;
    color: var(--1);
}

.headers .header-bottom .menu .color li a {
    text-decoration: none;
}

.headers .mobile-active {
    display: none;
}

.headers .hed-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 55px;
}

.headers .hed-top img:nth-of-type(1) {
    justify-self: start;
    cursor: pointer;
    transition: .5s;
}

.headers .hed-top img:nth-of-type(1):hover {
    transform: scale(1.1);
    transform: rotate(90deg);
}

.headers .hed-top img:nth-of-type(2) {
    justify-self: center;
    width: 100%;
    max-width: 100%;
}

.headers .hed-top img:nth-of-type(3) {
    justify-self: end;
    border: 1px solid var(--5);
    border-radius: 2px;
    width: 22px;
    height: 22px;
    padding: 8px;
}

.headers .hed-bot h2 {
    font-weight: 600;
    font-size: 11px;
    line-height: 164%;
    letter-spacing: 0.08em;
    text-align: center;
    color: var(--1);
    padding-bottom: 10px;
}

.headers .burger {
    display: none;
}

.headers .mobile-active .hed-top {
    display: flex;
    justify-content: space-between;
}

.headers .mobile-active .hed-top img:nth-of-type(2) {
    width: 150px;
}

.headers .burger .top-mob-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background: var(--6);
}

.headers .burger .top-mob-menu h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--1);
    margin-left: 20px;
}

.headers .burger .top-mob-menu img {
    fill: var(--1);
    width: 17px;
    height: 17px;
    margin-right: 20px;
    cursor: pointer;
    transition: 1.5s;
}

.headers .burger .top-mob-menu img:hover {
    transform: scale(1.2);
    transform: rotate(365deg);
}

.accordion-flush>.accordion-item>.accordion-header .accordion-button,
.accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
    background: var(--6);
}

.accordion-flush>.accordion-item>.accordion-collapse {
    background: var(--6);
}

.accordion-flush>.accordion-item>.accordion-collapse a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: var(--1);
    margin-bottom: 10px;
}

.headers .burger .bur-menu {
    width: 100%;
    height: 55px;
    background: var(--6);
    align-content: center;
    text-align: center;
    border: 1px solid var(--8);
    transition: .8s;
}

.headers .burger .bur-menu:hover {

    border: 1px solid darkblue;
}

.headers .burger .bur-menu a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 146%;
    letter-spacing: 0.08em;
    color: var(--1);
}

.headers .burger .bur-bot-menu {
    width: 100%;
    height: 100vh;
    background: var(--6);
    text-align: center;
}

.headers .burger .bur-bot-menu .contact1 {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.headers .burger .bur-bot-menu .contact1 a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.08em;
    text-align: center;
    color: var(--1);
}

.headers .burger .work-time1 {
    display: flex;
    flex-direction: column;
    gap: 15px
    ;
}

.headers .burger .work-time1 .number {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    color: var(--1);
    text-decoration: none;
    margin-bottom: 7px;
    padding-top: 10px;
    white-space: nowrap;
}

.headers .burger .work-time1 .work-to {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--1);
    text-align: center;
}

.headers .burger .work-time1 .ordercall-btn {
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: var(--3);
    width: 160px;
    height: 46px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(203, 135, 52, 0.2);
    background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
}

.headers .burger .work-time1 .call-free {
    font-weight: 400;
    font-size: 11px;
    line-height: 164%;
    letter-spacing: 0.08em;
    color: var(--1);
    text-align: center;
    margin-top: 7px;
}

@media screen and (max-width: 1200px) {
    .headers .header-top .contact span {
        margin-right: 10px;
    }

    .headers .header-top .logo img {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .headers .desktop-active {
        display: none;
    }

    .headers .mobile-active {
        display: block;
    }

    .headers .burger {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
    }

    .headers .burger.show {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: .8s;
    }
}

@media screen and (max-width: 768px) {
    .headers .hed-bot h2 {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    .headers .hed-top img:nth-of-type(2) {
        width: 147px;
    }
}