.last-article .article-box {
    margin-top: 145px;
    margin-bottom: 148px;
}

.last-article .article-box .slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.last-article .article-box .slider h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: var(--1);
}

.last-article .article-box .slider .custom {
    justify-self: end;
    align-self: flex-end;
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
}

.last-article .article-box .slider .custom .colo,
.last-article .article-box .custom .colo {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--5);
}

.last-article .article-box .slider .custom img,
.last-article .article-box .custom img {
    cursor: pointer;
}

.last-article .article-box .slider .custom img:first-of-type,
.last-article .article-box .custom img:first-of-type {
    margin-right: 10px;
}

.last-article .article-box .slider .custom img:last-of-type,
.last-article .article-box .custom img:last-of-type  {
    margin-left: 10px;
}

.last-article .article-box .boxs {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* column-gap: 30px; */
    margin-top: 40px;
    margin-bottom: 142px;
}

.last-article .article-box .boxs .box .box-image {
    position: relative;
}

.last-article .article-box .boxs .box .box-image span {
    position: absolute;
    top: 20px;
    left: 21px;
    font-weight: 700;
    font-size: 11px;
    line-height: 109%;
    text-transform: uppercase;
    text-align: center;
    color: var(--3);
    display: inline-block;
    align-content: center;
    border-radius: 4px;
    width: 114px;
    height: 34px;
    background: var(--5);
}

.last-article .article-box .boxs .box .txt h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--1);
    margin-top: 27px;
    margin-bottom: 15px;
    padding-right: 43px;
}

.last-article .article-box .boxs .box .txt p {
    font-weight: 300;
    font-size: 15px;
    line-height: 200%;
    color: var(--1);
}