html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Gilroy';
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.center {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* header */

.header {
    background-color: var(--6);
}

.header .header-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 22px;
}

.header .header-top .logo {
    display: grid;
    grid-template-columns: 251px 255px;
    column-gap: 30px;
}

.header .header-top .logo img {
    width: 251px;
    height: 36px;
}

.header .header-top .logo span {
    font-weight: 600;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: 0.08em;
    color: var(--1);
}

.header .header-top .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 4px;
    margin-left: 34px;
}

.header .header-top .contact a {
    text-decoration: none;
}

.header .header-top .contact a img {
    width: 26px;
    height: 26px;
}

.header .header-top .contact span {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--1);
    margin-right: 40px;
    margin-bottom: -20px;
}

.header .header-top .work-time .number {
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    text-align: right;
    color: var(--1);
}

.header .header-top .work-time .work-to {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--1);
}

.header .header-top .work-time .ordercall-free {
    font-weight: 700;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: var(--3);
}

.header .header-top .work-time .call-free {
    font-weight: 400;
    font-size: 11px;
    line-height: 164%;
    letter-spacing: 0.08em;
    color: var(--1);
}

.header .header-bottom .menu .color-brown li {
    border-radius: 8px;
    width: 620px;
    height: 72px;
    box-shadow: 0 0 20px 0 rgba(43, 42, 40, 0.2);
    background: var(--7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    stroke-width: 1px;
    stroke: #e5ebf2;
}

.header .header-bottom .menu .color-brown li a {
    text-decoration: none;
}

/* first-container */

/* head-content */

.first-container {
    background-color: var(--6);
    border: 0px 1px 1px 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.first-container .head-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
    row-gap: 74px;
}

.first-container .head-content .left-content h1 {
    font-weight: 400;
    font-size: 38px;
    line-height: 132%;
    color: var(--1);
    margin-top: 37px;
    margin-bottom: 41px;
}

.first-container .head-content .left-content .mobile-active {
    display: none;
    width: 100%;
    max-width: 100%;
}

.first-container .head-content .left-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: var(--1);
    margin-bottom: 26px;
}

.first-container .head-content .bottom-content {
    grid-column: 1 / 3;
    justify-self: center;
    box-shadow: 0 0 30px 0 rgba(43, 42, 40, 0.08);
    background: var(--3);
    border-radius: 8px;
    margin-bottom: 29px;
}

.first-container .head-content .bottom-content .all-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 50px;
}

.first-container .head-content .bottom-content h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 161%;
    color: var(--1);
    margin-top: 56px;
    margin-bottom: 33px;
    margin-left: 61px;
}

.first-container .head-content .bottom-content .all-box .box-content:first-of-type {
    margin-left: 60px;
}

.first-container .head-content .bottom-content .all-box .box-content p:first-of-type {
    font-weight: 700;
    font-size: 15px;
    line-height: 200%;
    color: var(--1);
    margin-top: 20px;
}

.first-container .head-content .bottom-content .all-box .box-content p:last-of-type {
    font-weight: 300;
    font-size: 15px;
    line-height: 200%;
    color: var(--1);
}

/* cat=proj */

.cat-proj {
    background-image: url(../images/cot-proj.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    margin-top: 116px;
    margin-bottom: 154px;
}

.cat-proj .content h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 161%;
    color: var(--1);
    margin-bottom: 40px
}

.cat-proj .content .boxs {
    display: grid;
    grid-template-columns: 370px 370px;
    grid-gap: 30px;
}

.cat-proj .content .boxs .box-item1 {
    border-radius: 0 40px 0 0;
    box-shadow: 0 0 30px 0 rgba(43, 42, 40, 0.08);
    background: var(--3);
    height: 460px;
}

.cat-proj .content .boxs .box-item1 img {
    margin: 5px;
}

.cat-proj .content .boxs .box-item1 h5 {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--1);
    margin-top: 36px;
    margin-bottom: 9px;
    margin-left: 50px;
}

.cat-proj .content .boxs .box-item1 p {
    font-weight: 300;
    font-size: 15px;
    line-height: 187%;
    color: var(--1);
    margin-left: 50px;
}

.cat-proj .content .boxs .btn-wrap {
    margin-left: 50px;
    margin-top: 14px;
}

.cat-proj .content .boxs .btn-wrap .btn-catalog-ban {
    white-space: nowrap;
}

.cat-proj .content .boxs .btn-wrap .btn-catalog-ban span {
    padding-top: 10px;
}

.cat-proj .content .boxs .box-item2 {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0 40px 0 0;
    box-shadow: 0 0 30px 0 rgba(43, 42, 40, 0.08);
    background: var(--3);
}

.cat-proj .content .boxs .box-item2 h5 {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--1);
    margin-top: 36px;
    margin-bottom: 9px;
    margin-left: 50px;
}

.cat-proj .content .boxs .box-item2 p {
    font-weight: 300;
    font-size: 15px;
    line-height: 187%;
    color: var(--1);
    margin-left: 50px;
    padding-right: 42px;
}

.cat-proj .content .boxs .box-item2 img {
    margin: 5px;
}

/* catalouge-projects */

.catalouge-projects {
    background-color: var(--6);
    padding-bottom: 154px;
}

.catalouge-projects .content-box h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: var(--1);
    padding-top: 136px;
    margin-bottom: 58px;
}

.catalouge-projects .content-box .all-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 58px;
    margin-bottom: 60px;
    position: relative;
}

.catalouge-projects .content-box .all-box .box {
    background-color: var(--3);
    border-radius: 8px;
    position: relative;
}

.catalouge-projects .content-box .all-box .box .box-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px 0 rgba(43, 42, 40, 0.08);
}

.catalouge-projects .content-box .all-box .box .box-content h4 {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: var(--1);
    padding-top: 42px;
    margin: 0 0 10px 46px;
}

.catalouge-projects .content-box .all-box .box .box-content p {
    font-weight: 300;
    font-size: 15px;
    line-height: 200%;
    color: var(--1);
    margin: 0 39px 50px 46px;
}

.catalouge-projects .content-box .all-box .box1,
.catalouge-projects .content-box .all-box .box2,
.catalouge-projects .content-box .all-box .box3,
.catalouge-projects .content-box .all-box .box4 {
    position: absolute;
    z-index: 0;
    transition: 0.8s;
}

.catalouge-projects .content-box .all-box .box1 {
    top: -47px;
    right: 26px;
}

.catalouge-projects .content-box .all-box .box2 {
    top: -78px;
    right: 14px;
}

.catalouge-projects .content-box .all-box .box3 {
    top: -29px;
    right: 15px;
}

.catalouge-projects .content-box .all-box .box4 {
    top: -45px;
    right: 39px;
}

.catalouge-projects .content-box .all-box .box1:hover,
.catalouge-projects .content-box .all-box .box2:hover,
.catalouge-projects .content-box .all-box .box3:hover,
.catalouge-projects .content-box .all-box .box4:hover {
    transform: scale(1.2);
}

.catalouge-projects .content-box .all-box .box .box-content span {
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 0;
    font-weight: 800;
    font-size: 140px;
    line-height: 21%;
    text-align: right;
    color: var(--51);
}

.catalouge-projects .box-img .mobile-active {
    display: none;
}

.catalouge-projects .box-img img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

/* about-company */

.about-company {
    position: relative;
}

.about-company .left-back {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.about-company .right-back {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.about-company .content h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: var(--1);
    padding-top: 131px;
    margin-bottom: 67px;
}

.about-company .content .content-top {
    position: relative;
}

.about-company .content .content-top .img-back {
    max-width: 100%;
    width: 100%;
}

.about-company .content .content-top .foto-img {
    position: absolute;
    top: -59px;
    left: 375px;
    transform: rotate(356deg);
}

.about-company .content .content-top .comments {
    display: flex;
    flex-direction: row;
    top: 325px;
    position: absolute;
    left: 300px;
    border-radius: 8px;
    width: 570px;
    height: 190px;
    box-shadow: 0 0 30px 0 rgba(43, 42, 40, 0.08);
    background: var(--3);
    margin-bottom: 98px;
}

.about-company .content .content-top .comments img {
    width: 54px;
    height: 56px;
    margin-top: 38px;
    margin-left: 43px;
}

.about-company .content .content-top .comments h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: var(--1);
    margin-top: 41px;
    margin-left: 22px;
}

.about-company .content .content-top .comments p {
    font-weight: 300;
    font-size: 16px;
    line-height: 162%;
    color: var(--1);
    margin-left: 22px;
    margin-top: 6px;
    padding-right: 51px;
}

.about-company .content .content-top .play {
    position: absolute;
    top: 170px;
    left: 653px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 134px;
    height: 126px;
}

.about-company .content .content-top .play a {
    transition: 0.8s;
}

.about-company .content .content-top .play a:hover {
    transform: scale(1.2);
}

.about-company .content .content-top .play p {
    font-weight: 700;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    color: var(--3);
}

.about-company .content .content-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 193px;
}

.about-company .content .content-bottom .box p:first-of-type {
    font-weight: 400;
    font-size: 60px;
    line-height: 50%;
    color: var(--5);
    margin-bottom: 29px;
}

.about-company .content .content-bottom .box span {
    font-size: 36px;
}

.about-company .content .content-bottom .box hr {
    height: 2px;
    background-color: var(--5);
    border-radius: 8px;
}

.about-company .content .content-bottom .box p:last-of-type {
    font-weight: 300;
    font-size: 16px;
    line-height: 187%;
    color: var(--1);
    margin-top: 18px;
}

.about-company .content .btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    padding-bottom: 147px;
}

.about-company .content .btn-wrap .btn-catalog {
    margin-right: 0;
}

/* type-buiding */

.type-building {
    background: var(--6);
    padding-top: 145px;
    padding-bottom: 145px;
}

.type-building .cont h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: var(--1);
}

.type-building .cont .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 40px;
}

.type-building .cont .card .card-item {
    display: flex;
    flex-direction: column;
    border-radius: 0 40px 0 0;
    box-shadow: 0 0 30px 0 var(--9);
    background: var(--3);
    transition: 0.9s;
    padding-bottom: 13px;
}

.type-building .cont .card .card-item img {
    margin: 5px;
}

.type-building .cont .card .card-item .top {
    border-radius: 0 40px 0 0;
}

.type-building .cont .card .card-item:hover {
    transform: scale(1.05);
}

.type-building .cont .card .card-item .top {
    align-self: center;
    margin-bottom: 36px;
}

.type-building .cont .card .card-item h5 {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--1);
    margin-left: 40px;
    margin-bottom: 13px;
}

.type-building .cont .card .card-item a {
    font-weight: 300;
    font-size: 15px;
    line-height: 147%;
    color: var(--1);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 4px;
}

.type-building .cont .card .card-item a:hover {
    transform: scale(1.1);
    font-weight: 600;
    color: var(--5);
}

.type-building .cont .card .card-item a img {
    margin-right: 15px;
    vertical-align: -6px;
}

/* last-article */

.last-article .article-box .ceo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.last-article .article-box .ceo .ceo-txt h5 {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: var(--1);
    margin-top: 40px;
    margin-bottom: 12px;
}

.last-article .article-box .ceo .ceo-txt .mobile-active {
    display: none;
}

.last-article .article-box .ceo .ceo-txt p {
    font-weight: 300;
    font-size: 15px;
    line-height: 200%;
    color: var(--1);
    padding-right: 67px;
}

@media screen and (max-width: 1300px) {
    .about-company .content .content-top .foto-img {
        width: 39%;
        top: -14%;
        left: 32%;
    }

    .about-company .content .content-top .comments {
        text-align: center;
        left: calc(30% - 47px);
        top: 77%;
        width: 50%;
    }

    .about-company .content .content-top .comments img {
        margin-top: 60px;
        margin-left: 18px;
    }

    .about-company .content .content-top .comments h4 {
        padding-right: 51px;
    }

    .about-company .content .content-top .comments p {
        margin-bottom: 15px;
    }

    .about-company .content .content-top .play {
        top: calc(42% - 39px);
        left: calc(50% - -68px);
    }

    .type-building .cont .card {
        overflow: scroll;
    }
}

@media screen and (max-width: 1200px) {
    .center {
        width: 95%;
    }

    .first-container .head-content .right-content img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .catalouge-projects .content-box .all-box .box1 {
        width: 35%;
    }

    .catalouge-projects .content-box .all-box .box2 {
        width: 31%;
        top: -15%;
    }

    .catalouge-projects .content-box .all-box .box3 {
        width: 42%;
    }

    .catalouge-projects .content-box .all-box .box4 {
        width: 35%;
        right: 10px;
    }

    .catalouge-projects .content-box .all-box .box .box-content span {
        bottom: 8%;
        right: 4%;
    }
}

@media screen and (max-width: 1024px) {
    .cat-proj {
        background-image: none;
    }

    .catalouge-projects .content-box .all-box .box1 {
        top: -9%;
        width: 40%;
    }

    .catalouge-projects .content-box .all-box .box2 {
        top: -11%;
    }

    .about-company .left-back,
    .about-company .right-back {
        display: none;
    }

    .about-company .content .content-bottom {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
}


@media screen and (max-width: 768px) {

    .first-container {
        box-shadow: none;
    }

    .first-container .head-content .desktop-active {
        display: none;
    }

    .first-container .head-content {
        grid-template-columns: 1fr;
        row-gap: 59px;
    }

    .first-container .head-content .left-content h1 {
        font-weight: 800;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 17px;
    }

    .first-container .head-content .left-content p {
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 19px;
    }

    .first-container .head-content .left-content .btn-wrap,
    .catalouge-projects .box-img .btn-wrap {
        flex-direction: column;
    }

    .first-container .head-content .left-content .btn-wrap a.btn-catalog {
        margin-right: 0;
        margin-bottom: 19px;
    }

    .first-container .head-content .left-content .mobile-active {
        display: block;
    }

    .first-container .head-content .bottom-content h3 {
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        margin-top: 37px;
        margin-left: 0;
        margin-bottom: 13px;
    }

    .first-container .head-content .bottom-content {
        margin-bottom: 0;
    }

    .first-container .head-content .bottom-content .all-box {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    .first-container .head-content .bottom-content .all-box .box-content:first-of-type {
        margin: 0;
    }

    .cat-proj {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .cat-proj .content .boxs {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cat-proj .content h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
    }

    .cat-proj .content .boxs .box-item2 {
        display: flex;
        flex-direction: column;
    }

    .cat-proj .content .boxs .box-item2 img {
        order: -1;
    }

    .cat-proj .content .boxs .box-item1 img {
        margin-bottom: 0;
        width: -webkit-fill-available;
    }

    .cat-proj .content .boxs .box-item1 h5 {
        margin-top: 28px;
        margin-bottom: 9px;
    }

    .cat-proj .content .boxs .box-item1 p {
        margin-right: 44px;
    }

    .cat-proj .content .boxs .box-item2 h5 {
        margin-top: 28px;
        margin-bottom: 9px;
    }

    .cat-proj .content .boxs .btn-wrap {
        margin: 12px 44px 34px 45px;
    }

    .cat-proj .content .boxs .box-item1 {
        height: auto;
    }

    .catalouge-projects {
        padding-bottom: 60px;
    }

    .catalouge-projects .content-box h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        padding-top: 60px;
    }

    .catalouge-projects .content-box .all-box {
        grid-template-columns: 1fr;
    }

    .catalouge-projects .content-box .all-box .box1 {
        width: 174px;
        right: calc(50% - 88px);
    }

    .catalouge-projects .content-box .all-box .box2 {
        top: -45px;
        width: 149px;
        right: calc(50% - 68px);
    }

    .catalouge-projects .content-box .all-box .box3 {
        top: -38px;
        width: 237px;
        right: calc(50% - 116px);
    }

    .catalouge-projects .content-box .all-box .box4 {
        top: -45px;
        width: 158px;
        right: calc(50% - 86px);
    }

    .catalouge-projects .content-box .all-box .box .box-content h4 {
        padding-top: 96px;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        margin: 0 0 6px 0;
    }

    .catalouge-projects .box-img .btn-wrap a.btn-catalog {
        margin-right: 0;
        margin-bottom: 19px;
    }

    .catalouge-projects .box-img .desktop-active {
        display: none;
    }

    .catalouge-projects .box-img .mobile-active {
        display: block;
    }

    .about-company .content h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        padding-top: 60px;
    }

    .about-company .content .content-top .comments {
        left: 0;
        width: 100%;
    }

    .about-company .content .content-top .comments h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        padding: 0;
        margin-top: 29px;
        margin-bottom: 10px;
    }

    .about-company .content .content-top .comments h4 .mobile-active {
        display: block;
    }

    .about-company .content .content-top .comments p {
        font-weight: 300;
        font-size: 14px;
        line-height: 171%;
        margin-top: 0;
        margin-right: 22px;
        margin-bottom: 27px;
        padding: 0;
    }

    .about-company .content .content-top .comments img {
        display: none;
    }

    .about-company .content .content-bottom .box {
        margin-top: 61px;
    }

    .about-company .content .btn-wrap {
        padding-bottom: 60px;
    }

    .type-building {
        padding-top: 61px;
        padding-bottom: 60px;
    }

    .type-building .cont h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
    }

    .type-building .cont .card {
        overflow: visible;
        display: flex;
        flex-direction: column;
        gap: 21px;
        margin-top: 25px;
    }

    .type-building .cont .card .card-item .top {
        align-self: auto;
        margin-bottom: 28px;
    }

    .type-building .cont .card .card-item h5 {
        font-size: 24px;
        line-height: 125%;
        margin-bottom: 9px;
    }

    .type-building .cont .card .card-item a {
        font-size: 14px;
        line-height: 143%;
    }

    .last-article .article-box {
        margin-top: 60px;
        margin-bottom: 56px;
    }

    .last-article .article-box .slider h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        margin-bottom: 22px;
    }

    .last-article .article-box .boxs {
        overflow: scroll;
    }

    .last-article .article-box .slider {
        display: block;
    }

    .last-article .article-box .slider img {
        display: none;
    }

    .last-article .article-box .ceo {
        display: flex;
        flex-direction: column;
    }

    .last-article .article-box .ceo .ceo-txt .mobile-active {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-top: 19px;
        margin-bottom: 19px;
    }

    .last-article .article-box .ceo .ceo-img {
        display: none;
    }

    .last-article .article-box .ceo .ceo-txt h5 {
        font-weight: 800;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 43px;
        margin-right: 43px;
    }

    .last-article .article-box .ceo .ceo-txt p {
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .about-company .content .content-bottom {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .about-company .content .content-bottom .box {
        text-align: center;
    }

    .about-company .content .btn-wrap {
        flex-wrap: wrap;
        gap: 20px;
    }

    .about-company .content .btn-wrap a.btn-catalog {
        margin-right: 0px;
    }

    
}

@media screen and (max-width: 425px) {
    .cat-proj .content .boxs .box-item1 h5 {
        margin-left: 20px;
    }

    .cat-proj .content .boxs .box-item1 p {
        margin-left: 22px;
    }

    .cat-proj .content .boxs .btn-wrap {
        margin-left: 15px;
    }

    .cat-proj .content .boxs .box-item2 h5 {
        margin-left: 20px;
    }

    .cat-proj .content .boxs .box-item2 p {
        margin-left: 22px;
    }

    .catalouge-projects .content-box .all-box .box .box-content p {
        margin: 6px 15px 36px;
    }

    .catalouge-projects .content-box .all-box .box .box-content span {
        bottom: 5%;
        right: calc(31% - 12px);
    }

    .type-building .cont .card .card-item a {
        margin-left: 36px;
    }
}